<!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Django + OpenCV</title>
  <link rel="stylesheet" href="https://cdn.rawgit.com/tiaanduplessis/barebones-css/master/dist/barebones.min.css">
  <link rel="stylesheet" href="https://acahir.github.io/Barebones/css/custom.css"/>
 </head>
 
 <body>
    <div class="container">
        <section class="header">
          <h2 style="padding-bottom: 3rem;" class="title">A simple example of how can you use Django and OpenCV together..</h2>
          <a id="download-button" class="button button-primary" href="../dface">Click here to test</a>
        </section>
 </body>

</html>